<div class="addContainer">
    <div class="modalHeader">
      <div class="editRowModal">
        <div class="modalHeader clearfix">          
          <div class="modal-about">
            <div class="font-weight-bold p-t-5 font-17">
              Permisos</div>
          </div>
        </div>
      </div>
      <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div mat-dialog-content>
      
      <div class="body table-responsive">
        <table mat-table [dataSource]="dataSourceAsignar" class="w-100" #sortTableSortAsignar="matSort" matSort >
         
          <!-- Name Column -->                   
          <ng-container matColumnDef="descripcion">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ROL </th>
            <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
          </ng-container>
          <ng-container matColumnDef="actions">
            <th *matHeaderCellDef class="actions-cell" mat-header-cell mat-sort-header>Opciones</th>
            <td *matCellDef="let row" class="actions-cell" mat-cell>
              
              <mat-radio-button [value]="row" (click)="marcarPermiso(row)" color="primary"></mat-radio-button>
            </td>
          </ng-container>
          <!-- Aforo Column -->
          

          <tr mat-header-row *matHeaderRowDef="displayedColumnsAsignar; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsAsignar;"></tr>
        </table>
        <!-- Loading spinner -->
        <div *ngIf="isTblLoadingAsignar" class="tbl-spinner">
          <mat-progress-spinner color="primary" [diameter]="40" mode="indeterminate">
          </mat-progress-spinner>
        </div>
      </div>
      <div mat-dialog-actions class="mb-1" *ngIf="dataSourceAsignar?.data?.length>0">
        <button mat-flat-button color="primary" (click)="savePermiso()" [disabled]="!rolSeleccionado">
          Asignar
        </button>
        <button mat-flat-button (click)="onNoClick()" tabindex="-1">Cancelar</button>
      </div>
      
      <div class="body table-responsive">
        <table mat-table [dataSource]="dataSource" class="w-100" #sortTableSort="matSort" matSort >

          <!-- Name Column -->                   
          <ng-container matColumnDef="descripcion">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ROL ASIGNADO </th>
            <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
          </ng-container>
          <ng-container matColumnDef="actions">
            <th *matHeaderCellDef class="actions-cell" mat-header-cell mat-sort-header>Opciones</th>
            <td *matCellDef="let row" class="actions-cell" mat-cell>
               
                      <button mat-icon-button color="accent" class="btn-tbl-delete"
                        (click)="$event.stopPropagation()" (click)="quitarPermiso(row)"matTooltip="Quitar Permiso">
                        <mat-icon aria-label="Delete" class="col-white">delete
                        </mat-icon>
                      </button>     
              
            </td>
          </ng-container>
          <!-- Aforo Column -->
          

          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <!-- Loading spinner -->
        <div *ngIf="isTblLoading" class="tbl-spinner">
          <mat-progress-spinner color="primary" [diameter]="40" mode="indeterminate">
          </mat-progress-spinner>
        </div>
      </div>
    </div>
  </div>
  